/*--- CSS RESET ---*/
html, body, div, header, h1{
	margin: 0;
	padding: 0;
	border: 0;
}

/*--- FONT ---*/
@font-face {
	font-family: museo-sans;
	src: url(../assets/font/MuseoSans_700-webfont.woff);
}
*{
  font-family: museo-sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

body {
	background-color: rgb(26, 32, 44);
	color: #fff;
}

/*--- HEADINGS ---*/
h1,h2,h3{
  text-transform: uppercase;
}

h1 svg{
	height: 50px;
	width: auto;
	vertical-align: middle;
	padding-bottom: 6px;
	fill: currentColor;
}
h1{
	font-size: 50px;
	margin: 20px;
	text-align: center;
}

#donation-text::first-letter{
  text-transform: capitalize
}

/*--- CONTAINER ---*/
.container{
  margin: 0 25%;
  padding: 20px 5%;
	text-align: center;
}

/*--- BUTTONS ---*/
.buttons{
	text-align: center;
	margin: 30px;
}
.buttons button{
	background: linear-gradient(90deg,#f89a66,#fc6793);
	padding: 10px 15px;
	border-radius: 0;
	color: #fff;
	border-radius: 0;
	display: inline-block;
	margin: 5px 0;
	transition: 0.3s;
	text-transform: uppercase;
}
.buttons button:hover {
	background: #fff;
    color: #fc6793;
}
.message p{
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	background: linear-gradient(90deg,#66f1f8,#67fc95);
	color: #fff;
	padding: 10px 15px;
	transition: 0.5s;
	animation: fade 1s;
}
.code{
	word-wrap: break-word;
}
#changelog ul li, #changelog p,.code{
	/*display: none !important;*/
	font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
}
#changelog ul{
  list-style-position: inside;
}
#changelog div{
  animation: fade 1s;
}
/*--- MOBILE ---*/
@media screen and (max-width: 1300px) {
  .container{
    margin: 0 20%;
    box-shadow: none;
		text-align: center;
  }
}
@media screen and (max-width: 1000px) {
  .container{
    margin: 0 10%;
  }
}
@media screen and (max-width: 700px) {
  .container{
    margin: 0 5%;
  }
}

/*--- ANIMATION ---*/
@keyframes fade {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

/*--- TABS ---*/
.tabs-container{
	margin: 40px auto;
}
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: left;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	color: #fff;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
}

.tab-content{
	display: none;
	border: 4px solid #ededed;
	padding: 40px;
}

.tab-content a {
	color: #fff;
}

.tab-content.current{
	display: inherit;
}

/*--- NOTES ---*/
/*---  ---*/
